.App {
  /* background-color: #F8EDE3; */
  background-color: #D0B8A8;
}

.login-component {
  width: 70%;
  text-align: center;
  margin: auto;
}

.introduction {
  background-color: #D0B8A8;
  /* background-color: #D0B8A8; */
  padding: 1em;
}

.signin-signup {
  /* background-color: #DFD3C3; */
  background-color: #D0B8A8;
  padding: 1em;
  min-height: 30em;
}

.main-component {
  width: 70%;
  text-align: center;
  margin: auto;
}

.home-detail {
  background-color: #D0B8A8;
  padding: 1em;
}

.room-bid {
  background-color: #D0B8A8;
  padding: 1em;
}